<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SetupProject" Language="1033" Version="1.0.0.0" 
           Manufacturer="Mila Enterprises" 
        UpgradeCode="2d0bf510-4a37-4a3f-ba27-5d9ab8d90e7e">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Tarifes" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Tarifes">
          <Directory Id="TMPFOLDER" Name="tmp" />
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
       <Component Id="CMP_EXE" Guid="{27617FDC-A87F-4FAE-870C-F61EBE7D3614}">
        <File Id="FILE_TARIFES_EXE" Source="$(var.AplicacioAmbInstalador.TargetDir)Tarifes.exe" KeyPath="yes"></File>
      </Component>
 		</ComponentGroup>
	</Fragment>
</Wix>
